<div *ngIf="data.dataType == DataType.REFERENCED">
  <ng-container [ngSwitch]="data.content.mediaType">
    <ng-container *ngIf="isDialog">
      <ng-container *ngSwitchCase="MediaType.PHOTO">

      <img
      *ngIf="!isGoogledrive(data.content.url)"
          [src]="data.content.url"
        alt="image"
        class="display-in-dialog"
      />
      <iframe  *ngIf="isGoogledrive(data.content.url)" [src]="safeUrl" [width]="width" allow="autoplay"></iframe>
    </ng-container>

      <ng-container *ngSwitchCase="MediaType.VIDEO">
        <video
          controls
          [width]="width"
          *ngIf="!isYoutubeVideo(data.content.url)"
          class="display-in-dialog"
        >
          <source [src]="data.content.url" alt="video" type="video/mp4" />
        </video>
        <youtube-player
          *ngIf="isYoutubeVideo(data.content.url)"
          [videoId]="getYoutubeVideoID(data.content.url)"
          [width]="width"
          [height]="CONVERSION_16_TO_9 * width!"
        ></youtube-player>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="isDialog === false">

      <ng-container *ngSwitchCase="MediaType.PHOTO" >

      <img
        *ngIf="!isGoogledrive(data.content.url)"
        [src]="safeUrl"
        alt="image"
        [width]="width"
      />
      <iframe  *ngIf="isGoogledrive(data.content.url)" [src]="safeUrl" [width]="width" allow="autoplay"></iframe>

    </ng-container>

      <ng-container *ngSwitchCase="MediaType.VIDEO">
        <iframe  *ngIf="!isYoutubeVideo(data.content.url)" [src]="safeUrl" [width]="width" allow="autoplay"></iframe>


        <youtube-player
          *ngIf="isYoutubeVideo(data.content.url)"
          [videoId]="getYoutubeVideoID(data.content.url)"
          [width]="width"
          [height]="CONVERSION_16_TO_9 * width!"
        ></youtube-player>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="MediaType.SOUNDFILE" >
        <iframe  *ngIf="!isYoutubeVideo(data.content.url)" [src]="safeUrl" [width]="width" allow="autoplay"></iframe>
    </ng-container>
  </ng-container>
</div>
<div *ngIf="data.dataType == DataType.NOTREFERENCED">
  <ngx-json-viewer
    *ngIf="localData$ | async as data"
    [depth]="1"
    [json]="data"
  ></ngx-json-viewer>
</div>
